.card-item {
  opacity: 0;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  transition: opacity .5s;
}

.done {
  opacity: 1;
}

.hidden {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-radius: 10px;
}

.hi {
  opacity: 0;
}
