.card-item {
  opacity: 0;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  transition: opacity .5s;
}

.show {
  opacity: 1;
}

.hidden {
  width: 80px;
  height: 80px;
  border: 1px solid;
  border-radius: 10px;
}

.disabled {
  pointer-events: none;
}

.foundCard {
  background-color: gray;
}

/* блокировки карты после ее выбора, чтобы нельзя было выбрать одну и ту же карту 2раза*/
.cursor {
  pointer-events: none;
}
